
/* Global styles */
* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roaster Regular';
    src: url('/fonts/Roaster-Regular.otf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Roaster Light';
    src: url('/fonts/Roaster-Light.otf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Roaster Bold';
    src: url('/fonts/Roaster-Bold.otf')  format('truetype'), /* Safari, Android, iOS */
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

/* ---------- */

.menu__hamburguer {
    position: fixed;
    top: 75px;
    right: 55px;
    z-index: 5;
    padding: 5px;
    cursor: pointer;
}

.hamburguer__bar {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #83907C;
    transition: ease .4s;
}

.hamburguer__bar:first-child {
    margin-bottom: 5px;
}

/* Open state when hamburguer clicked */

.open .hamburguer__bar{
    transform-origin: 12px 2px;
}

.open .hamburguer__bar:first-child {
    transform: rotate(45deg);
    margin-bottom: 0;
}

.open .hamburguer__bar:last-child {
    transform: rotate(-45deg);
}

/* ------ */

header {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    padding: 0 155px;
    transform: translateX(100%);
    transition: ease-in-out .8s;
    background-color: transparent;
    z-index: 2;
    opacity: 0;
}

.box {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    transition: ease-in-out .8s;
    background-color: #fff; 
    z-index: 1;
}

.boxReveal {
    margin-left: auto;
    width: 100vw;
}

/* Reveal on open state when hamburguer clicked */

.reveal {
    transform: translateX(0%);
    opacity: 1;
    transition: ease-in-out 1.1s;
}


/* -------- */

.header__nav {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav__link {
    display: flex;
    align-items: center;
    width: 80%;
    font-family: 'Roaster Light', serif;
    font-size: 64px;
    transition: ease .2s;
}

.nav__link:not(:last-child) {
    margin-bottom: 15px;
}

.nav__link:hover {
    transform: scale(1.05);
}

.nav__link::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 30px;
    background-color: #83907C;
    border-radius: 100%;
    margin: auto 0;
    margin-right: 0px;
    transition: ease .5s;
}

.nav__link:hover::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #83907C;
    margin-right: 30px;
}

.nav__logo {
    width: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__hashtag {
    font-family: 'Roaster Light', serif;
    font-size: 42px;
    font-weight: 300;
}

/* Hero */

.hero {
    height: 100vh;
    background-image: url('/images/hero-bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

@media screen and (max-width: 1200px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__nav {
        z-index: 3;
    }

    .nav__link {
        font-size: 82px;
        width: 100%;
    }

    .nav__link:not(:last-child) {
        margin-bottom: 55px;
    }

    .nav__logo {
        position: absolute;
        z-index: 1;
        opacity: .5;
    }
}

@media screen and (max-width: 950px) {
    header {
        padding: 0 95px;
    }

    .nav__link {
        font-size: 62px;
    }
    
    .nav__hashtag {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    header {
        padding: 0 35px;
        background-image: url('/images/logo.jpg');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .nav__link {
        font-size: 32px;
    }

    .nav__link:not(:last-child) {
        margin-bottom: 35px;
    }

    .nav__link:hover::before {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }

    .nav__logo {
        display: none;
    }

    .menu__hamburguer {
        top: 45px;
        right: 25px;
    }

    .open .hamburguer__bar {
        transform-origin: 13px 2px;
    }

    .hamburguer__bar {
        height: 3px;
    }
}